body {
    background-image: url("../images/sakura.png");
}

.header {
    font-family: 'Euphoria Script', cursive;
    font-size: 30px;
    text-align: center;
    background-color: aliceblue;
    font-size: 50px;
    height: 90px;
    padding-top: 10px;
}

.col-12 {
    margin-top: 100px;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
}

.timeremaining {
    padding-top: 20px;
    padding-bottom: 10px;
}

.question {
    padding-bottom: 10px;
}

.resetbtn {
    margin-top: 10px;
    padding-bottom: 10px;
}

.restartbutton {
    padding-bottom: 10px;
}

.answer {
    cursor: pointer;
    cursor: hand;
}